qiskit>=2.3.0
qiskit-aer>=0.17.2
qiskit-ibm-runtime>=0.43.1
qiskit-ionq>=1.0.2
iqm-client>=33.0.2
qnexus>=0.37.1
matplotlib>=3.10.8
numpy>=2.3.5
pandas>=2.3.3
python-dotenv>=1.2.1
pytket>=2.11.0
pytket-qiskit>=0.76.0
scipy>=1.15.3
seaborn>=0.13.2
